.nav {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border-bottom: 1px solid black;
}

.content-nav {
    font-size: larger;
}

a {
    color: black;
    text-decoration: none;
}

.icon {
    width: 40px;
}